scope: cluster_db                             
name: {{ ansible_hostname }}

log:
  level: ERROR
  format: '%(asctime)s %(levelname)s: %(message)s'
  dateformat: ''
  max_queue_size: 1000
  dir: /var/log/patroni
  file_num: 4
  file_size: 25000000
  loggers:
    postgres.postmaster: ERROR
    urllib3: DEBUG

restapi:
  listen: {{ansible_facts['default_ipv4']['address']}}:8008
  connect_address: {{ansible_facts['default_ipv4']['address']}}:8008

etcd:
  hosts: 
  {%for host in groups['etcd']%}
- {{hostvars[host]['ansible_host']}}:2379
  {%endfor%}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 0
    synchronous_mode: true
    synchronous_mode_strict: false
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        max_connections: 200
        shared_buffers: 2GB
        effective_cache_size: 6GB
        maintenance_work_mem: 512MB
        checkpoint_completion_target: 0.7
        wal_buffers: 16MB
        default_statistics_target: 100
        random_page_cost: 1.1
        effective_io_concurrency: 200
        work_mem: 2621kB
        min_wal_size: 1GB
        max_wal_size: 4GB
        max_worker_processes: 40
        max_parallel_workers_per_gather: 4
        max_parallel_workers: 40
        max_parallel_maintenance_workers: 4

        max_locks_per_transaction: 64
        max_prepared_transactions: 0
        wal_level: replica
        wal_log_hints: on
        track_commit_timestamp: off
        max_wal_senders: 10
        max_replication_slots: 10
        wal_keep_segments: 8
        logging_collector: on
        log_destination: syslog
        log_directory: pg_log
        log_min_messages: warning
        log_min_error_statement: error
        log_min_duration_statement: 1000
        log_duration: off
        log_statement: all
  initdb:
  - encoding: UTF8
  - data-checksums
  users:
    admin:
      password: password
      options:
        - createrole
        - createdb
    repl:
      password: password
      options:
        - replication

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ansible_facts['default_ipv4']['address']}}:5432
  data_dir: {{pg_data_dir}}
  bin_dir: {{pg_bin_files}}
  config_dir: {{pg_data_dir}}

  pg_hba:
    - local all all scram-sha-256
    - host all all 0.0.0.0/0 scram-sha-256
    {%for host in groups['patroni_hosts']  -%} {% if hostvars[host]['ansible_host'] ==  ansible_facts['default_ipv4']['address'] -%} 
    - host replication repl {{hostvars[host]['ansible_host']}}/32 reject 
    {% else -%}
    - host replication repl {{hostvars[host]['ansible_host']}}/32 scram-sha-256
    {%endif%}
    {%- endfor%}
    
    # - host replication repl 10.70.39.118/32 reject
    # - host replication repl 10.70.39.197/32 scram-sha-256
    # - host replication repl 0.0.0.0/0 reject
  authentication:
    replication:
      username: repl
      password: password
    superuser:
      username: postgres
      password: password
    rewind:
      username: rewind_user
      password: password
tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false

            